html {
    font-family: 'small';
}

* html { /* IE6 */
    font-family: 'desktop'
}

*+html { /* IE7 */
    font-family: 'large'
}

@media \0screen {
    html {  /* IE8 */
        font-family: 'large'
    }
}


/* Queries for supported browsers. */
body:after {
    display: none;
}

@media screen and (max-width: 600px) {
    html {
        font-family: "small";
    }
    body:after {
        content: "small";
    }
}

@media screen and (min-width: 600px) {
    html {
        font-family: "medium";
    }
    body:after {
        content: "medium";
    }
}

@media screen and (min-width: 800px) {
    html {
        font-family: "large";
    }
    body:after {
        content: "large";
    }
}
