.space-bottom-wide{
  margin-bottom: 100px;
}
.spacing-bottom{
  margin-bottom: 50px;
}
.spacing-top{
  padding-top: 50px;
}
.padding-bottom{
  padding-bottom: 50px;
}
.padding-bottom-wide{
  padding-bottom: 100px;
}
.padding-top-small{
  padding-top: 25px;
}
.padding-top{
  padding-top: 50px;
}
.inner-section-padding-bottom .inner-section{
  padding-bottom: 50px;
}

.align-right{
  float: right;
}
/* ----------------------
    separators

    @Note:
*/
[class^=separator]{

}

.separator--dot{
  padding: 0 10px;
}

/* ----------------------
    Links

    @Note:
*/
[class^=link]{
  text-decoration: underline;
}
.large [class^=link]:hover{
  text-decoration: none;
}

.link--quiet{
  color: rgb(150,150,150);

}

/* ----------------------
    Headlines & Typo

    @Note:
*/
.align-left h2{
  text-align: left;
  padding-left: 0;
}
