.padded-column{
  padding: 0 3%;
}
.padded-column-small{
  padding: 0 1.5%;
}
/* ----------------------
    Default module

    @Note:
*/
.block-content-copy h1{
  text-align: center;
  font-weight: 300;
  color: rgb(100,100,100);
  display: table;
  padding: 10px 10px;
  margin: 0 auto 30px;
  border-bottom: 1px solid rgb(225,70,75);
}
.block-content-copy h2{
  text-align: center;
  font-weight: 300;
  color: rgb(100,100,100);
  padding: 10px 10px;
}

.block-content-copy blockquote{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  width: 100%;
  margin: 0 auto 10px;
}
.block-content-copy blockquote blockquote{
  font-size: 24px;
  color: rgb(90,170,150);
}
.block-content-copy blockquote p{
  font-size: inherit;
}
.block-content-image{
  text-align: center;
}
.block-content-image img{
  display: inline-block;
}
/* ----------------------
    Module: Teaser
*/
.teaser-card{
  float: left;
  background-color: rgb(255,255,255);
  margin-bottom: 25px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.15);
}
.teaser-card .block-content-copy{
  float: left;
  display: block;
  width: 40%;
  padding: 25px 2% 25px 4%;
  vertical-align: top;
}
.teaser-card .block-content-copy p{
  margin-bottom: 15px;
}
.teaser-card .block-content-image{
  float: left;
  display: block;
  overflow: hidden;
  width: 60%;
  height: auto;
  vertical-align: top;
}
.teaser-card--halfed .block-content-image, .teaser-card--halfed .block-content-copy{
  width: 50%;
}
.teaser-card.teaser-card--image-right .block-content-image, .teaser-card.teaser-card--image-right .block-content-copy{
  float: right;
}
.teaser-card.teaser-card--image-top .block-content-image, .teaser-card.teaser-card--image-top .block-content-copy{
  width: 100%;
  float: left;
}
.teaser-card:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.teaser-card .block-content-image img{
  display: none;
  height: 100%;
}
.teaser-card .block-content-image .media--noResize{
  display: inline-block;
  width: auto;
  height: auto;
}
.teaser-card.teaser-card--image-fit-width .block-content-image img{
  width: 100%;
  display: none;
}
.teaser-card h2{
  font-weight: 700;
  text-align: left;
  color: rgb(90,170,150);
  margin-bottom: 15px;
  padding: 0;
}
.teaser-card.teaser-card--quiet h2{
  font-weight: 300;
  color: rgb(100,100,100);
}
.teaser-card.teaser-card--fadeBottom:before{
  position: absolute;
  top: 0;
  left: 0;
  left: calc(0px - 2px);
  left: -webkit-calc(0px - 2px);
  display: block;
  content: "";
  height: calc(100% + 4px);
  height: -webkit-calc(100% + 4px);
  width: calc(100% + 4px);
  width: -webkit-calc(100% + 4px);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgb(255,255,255) 50%);
  background-image: -moz-linear-gradient( top, rgba(255,255,255,0), rgb(255,255,255) 50%);
  background-image: linear-gradient( top, rgba(255,255,255,0), rgb(255,255,255) 50%);
}
/* ----------------------
    Module: post-preview
*/
.post-preview{
  float: left;
  background-color: rgb(255,255,255);
  margin: 0 20px 25px 20px;
  padding: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.15);
}
/* ----------------------
    Module: Timeline
*/
.timeline{
  height: 100%;
  position: relative;
  margin: 25px 0;
}
.timeline:before{
  display: block;
  width: 6px;
  height: 100%;
  height: calc(100% + 25px);
  height: -webkit-calc(100% + 25px);
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -3px;
  background-image: -webkit-linear-gradient(top, rgba(225,70,75,0), rgb(225,70,75) 10%);
  background-image: -moz-linear-gradient( top, rgba(225,70,75,0), rgb(225,70,75) 10%);
  background-image: linear-gradient( top, rgba(225,70,75,0), rgb(225,70,75) 10%);
  border-radius: 6px;
}
.timeline .item{
  display: block;
  width: 300px;
  padding: 10px;
  background-color: rgb(255,255,255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.35), 0 0 1px rgba(0,0,0,0.15);
  left: 50%;
  margin-left: 30px;
}
.timeline .item:nth-child(odd){
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
  margin-left: -30px;
}
.timeline .item h4{
  margin: 0;
  color: rgb(225,70,75);
}
.timeline .item p{
  margin-bottom: 7px;
}
.timeline .item p:last-child{
  margin-bottom: 0;
}
.timeline .item:after, .timeline .item:before{
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: 50%;
  z-index: 3;
  margin-top: -8px;
  left: -16px;
  border: 8px solid rgb(255,255,255);
  border-color: transparent rgb(255,255,255) transparent transparent;
}
.timeline .item:after{
  z-index: 1;
  border-width: 9px;
  margin-top: -9px;
  left: -18px;
  border-color: transparent rgba(0,0,0,0.15) transparent transparent;
}
.timeline .item .visual{
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  position: absolute;
  top: 50%;
  left: -43px;
  margin-top: -13px;
  border-radius: 50%;
  border: 4px solid rgb(225,70,75);
  background-color: rgb(255,255,255);
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}
.timeline .item:nth-child(odd) .visual{
  left: 100%;
  margin-left: 17px;
}
.timeline .item:nth-child(odd):before{
  left: auto;
  right: -16px;
  border-color: transparent transparent transparent rgb(255,255,255);
}
.timeline .item:nth-child(odd):after{
  left: auto;
  right: -18px;
  border-color: transparent transparent transparent rgba(0,0,0,0.15);
}
.timeline .item:last-child:nth-child(odd){
  -webkit-transform: translate(-100%,50%);
  -ms-transform: translate(-100%,50%);
  transform: translate(-100%,50%);
}
.timeline .item:last-child:nth-child(even){
  -webkit-transform: translate(0,50%);
  -ms-transform: translate(0,50%);
  transform: translate(0,50%);
}
/* ----------------------
    Module: Searchable
*/
.searchable-optionsGroup{
  float: left;
  height: 36px;
}
.searchable-searchBox{
  float: left;
  border: 2px solid rgb(200,200,200);
  color: rgb(100,100,100);
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  padding: 7px 6px 6px;
  margin: 0 0 0 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  border-right-width: 0;
}
.searchable-searchBox:focus{
  outline: none;
  border-color: rgb(225,70,75);
  color: rgb(225,70,75);
}
.stream-emptyState{
  font-weight: 700;
  font-size: 32px;
  color: rgb(200,200,200);
  text-align: center;
  width: 100%;
  padding: 50px 0;
}
.stream-itemCount{
  float: left;
  background-color: rgb(225,70,75);
  border: 2px solid rgb(225,70,75);
  color: rgb(255,255,255);
  padding: 7px 6px 6px;
  font-size: 16px;
  line-height: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* ----------------------
Circle-icon

@Note:
*/
.circle-icon .block-content-image{
  background-color: rgba(165, 30, 40, 0.5);
  padding: 40px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: -100px;
  margin-left: 50%;
  margin-bottom: 25px;
}

.rounded-block{
  padding: 20px;
  border-radius: 5px;
}
.rounded-block li{
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}
.rounded-block--red{
  background-color: rgb(225,70,75);
  color: rgb(255,255,255);
}
.rounded-block--red .block-content-copy h3{
  color: rgb(255,255,255);
}
/* ----------------------
  Teaser
*/
.prominent-teaser{
  margin: 0 25px 50px 25px;
  position: realtive;
  display: block;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
}
.prominent-teaser .block-content-copy{
  color: rgb(255,255,255);
  z-index: 3;
}
.prominent-teaser p:last-child{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}
.prominent-teaser .block-content-copy a{
  position: realtive;
  text-decoration: none;
  display: block;
  z-index: 90;
  padding: 20px;
  width: 100%;
  color: rgb(255,255,255);
}
.prominent-teaser--turquoise{
  background: rgb(90,170,150);
}
.prominent-teaser--turquoise:before{
  display: block;
  content: "";
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,0.05);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}
.prominent-teaser--turquoise:after{
  display: block;
  content: "";
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0.05);
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.hover .prominent-teaser--turquoise:hover:before{
  width: 30%;
}
.hover .prominent-teaser--turquoise:hover:after{
  width: 70%;
}
