/* ----------------------
		General Navigation
*/
[class^=navigation]{

}
[class^=navigation] li{
	display: inline-block;
}
[class^=navigation] a{
	color: inherit;
	padding: 5px 10px;
	text-decoration: none;
}

/* ----------------------
		Footer Navigation
*/
.navigation--footer{
	padding: 20px 0;
}
.navigation--footer a{
	font-weight: 200;
	color: rgb(100,100,100);
	font-size: 20px;
	padding: 5px 20px;
	position: relative;
}
.navigation--footer a:before{
	content: "";
	display: block;
	position: absolute;
	opacity: 0;
	width: 0;
	left: 0;
	left: -webkit-calc(20px);
	left: -moz-calc(20px);
	left: calc(20px);
	bottom: -3px;
	height: 3px;
	background-color: rgb(225,70,75);
	-webkit-transition: width 0s ease .5s, opacity .4s ease;
	-moz-transition: width 0s ease .5s, opacity .4s ease;
	-o-transition: width 0s ease .5s, opacity .4s ease;
	transition: width 0s ease .5s, opacity .4s ease;
}
.large .navigation--footer a:hover:before{
	opacity: 1;
	width: 100%;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	-webkit-transition: width .35s ease, opacity 0s ease 0s;
	-moz-transition: width .35s ease, opacity 0s ease 0s;
	-o-transition: width .35s ease, opacity 0s ease 0s;
	transition: width .35s ease, opacity 0s ease 0s;
}
/* ----------------------
		Main Navigation
*/
.main-navigation{
	width: 100%;
	background: rgba(255,255,255,1);
	position: fixed;
	z-index: 999;
	top: 0;
	-webkit-transition: background .75s ease .0s;
	-moz-transition: background .75s ease .0s;
	-o-transition: background .75s ease .0s;
	transition: background .75s ease .0s;
}
.main-navigation.is-scrolled{
	background: rgba(255,255,255,0.9);
}
.main-navigation.shadow-inside-bend:after{
	opacity: 0;
	-webkit-transition: opacity .75s ease .0s;
	-moz-transition: opacity .75s ease .0s;
	-o-transition: opacity .75s ease .0s;
	transition: opacity .75s ease .0s;
}
.main-navigation.shadow-inside-bend.is-scrolled:after{
	opacity: 1;
}
/* ----------------------
		Logo

		@Note: Svg Support from IE9
					 Svg Filter IE10
*/
.logo{
	position: absolute;
	float: left;
	margin-left: 20px;
	width: 140px;
	height: 110px;
	overflow: visible;
}
.logo svg{
	position: relative;
	z-index: 2;
}
.logo-shadow{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 170px;
	height: 130px;
	background-image:url("../layout/logo-shadow.png");
	-moz-background-size: 170px 130px;
	-o-background-size: 170px 130px;
	background-size: 170px 130px;
}
/* ----------------------
		Main Navigation List
*/
.main-navigation-list{
	margin-right: 25px;
}
.main-navigation-list, .main-navigation-list > ul{
	position: relative;
	float: right;
}
.main-navigation-list:after{
	z-index: 1;
	height: 4px;
	width: 100%;
	background: rgb(225,225,225);
	content: "";
	position: absolute;
	left: 0;
}
.main-navigation-list li{
	float: left;
	position: relative;
}
.main-navigation-list li > ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: auto;
	z-index: 2;
}
.main-navigation-list li > ul:before{
	content: "";
	display: block;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-color: transparent transparent rgb(225,70,75) transparent;
}
.main-navigation-list li > ul > li{
	background: rgb(225,70,75);
	float: left;
	width: 100%;
}
.main-navigation-list li > ul > li a{
	color: rgb(165,30,40);
}
.main-navigation-list li > ul > .is-active > a{
	color: rgb(255,255,255);
}
.main-navigation-list li > ul ul{
	width: auto;
}
.large .main-navigation-list > ul > li:hover > ul{
	display: block;
}
.main-navigation-list a{
	display: block;
	text-decoration: none;
	padding: 20px 15px;
	font-size: 18px;
	line-height: 100%;
	text-transform: UPPERCASE;
	color: rgb(100,100,100);
}
.main-navigation-list .is-active > a{
	color: rgb(225,70,75);
}
.main-navigation-list .has-red-line:before{
	z-index: 2;
	height: 4px;
	width: 100%;
	background: rgba(225,70,75,0.8);
	content: "";
	position: absolute;
	left: 0;
}
.main-navigation-list .has-red-line.is-active:before{
	background: rgba(225,70,75,1);
}
/* -------------- */
/* Mobile */
.mobile-menu-icon{
	display: none;
}
@media (max-width: 750px) {
	.main-navigation{
		display: block;
	}
	.main-width{
		height: 60px;
		width: 100%;
		display: block;
		float: left;
	}
  .logo-shadow, .logo g {
    display: none;
  }
	.logo{
		float: none;
		position: absolute;
		top: 0;
		margin-left: 10px;
		z-index: 30;
	}
	#Logo_White_Gradient, #Logo_White_Gradient g {
		display: block;
	}
	#Logo_White_Gradient{
		-webkit-transform-origin: 88px 36px;
		-moz-transform-origin: 88px 36px;
		-ms-transform-origin: 88px 36px;
		-o-transform-origin: 88px 36px;
		transform-origin: 88px 36px;
		-webkit-transform: scale(1.8);
		-moz-transform: scale(1.8);
		-ms-transform: scale(1.8);
		-o-transform: scale(1.8);
		transform: scale(1.8);
	}
	#Logo_White_Gradient path{
		fill: rgb(225,70,75);
	}
	.logo, .logo svg{
		height: 60px;
		width: 110px;
	}
	.mobile-menu-icon{
		height: 60px;
		display: block;
		position: relative;
		float: right;
		width: 100%;
		-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		z-index: 20;
		background: rgb(255,255,255);
	}
	.mobile-menu-icon .menu-icon{
		display: block;
		float: right;
		height: 60px;
		font-size: 20px;
		line-height: 20px;
		padding: 19px 15px;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		color: rgb(225,70,75);
	}
	.main-navigation-list{
		-webkit-transform: translate3d(0,-100%,0);
		-moz-transform: translate3d(0,-100%,0);
		-o-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);
		background: rgb(255,255,255);
		float: left;
		position: relative;
		margin: 0;
		width: 100%;
		-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		box-shadow: 1px 0 2px rgba(0,0,0,0.25);
		z-index: 10;
		-webkit-transition: -webkit-transform .5s ease;
		-moz-transition: -moz-transform .5s ease;
		-o-transition: -o-transform .5s ease;
		transition: transform .5s ease;
	}
	.main-navigation-list.is-toggled{
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.main-navigation-list ul{
		width: 100%;
	}
	.main-navigation-list li{
		width: 100%;
		border-bottom: 1px solid rgb(225,225,225);
	}
	.main-navigation-list li:last-child{
		border-bottom: none;
	}
	.main-navigation-list:after{
		display: none;
	}
	.is-active:before, .has-red-line:before{
		display: none;
	}

}
