/* ----------------------
		Main Width

		@Note: Use in elements to keep inside main width
*/
.main-width{
	max-width: 1200px;
	margin: 0 auto;
}

/* ----------------------
		Main Content Module

		@Note: Margin-Top is fixed nav offset
*/
.main-content{
	margin-top: 6.12em;
}