/* ----------------------
		Main Width

		@Note: Use in elements to keep inside main width
*/
.main-width{
	min-width: 1000px;
	max-width: 1200px;
	margin: 0 auto;
}

/* ----------------------
		Main Content Module

		@Note: Margin-Top is fixed nav offset
*/
.main-content{
	min-width: 1000px;
	max-width: 1200px;
	margin: 6.120px auto 0;
}



/* ----------------------
		Banner

		@Note: Margin-Top is fixed nav offset
*/
.banner{
	padding-top: 20px;
}
.banner .content-for-image{
	background: rgb(225,70,75);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	color: rgb(255,255,255);
	display: inline-block;
	margin: -120px 0 50px 20px;
}
.banner .content-for-image:after{
	content:"";
	background: rgba(165,30,40,0.8);
	display: block;
	width: 40%;
	height: 7px;
	position: absolute;
	bottom: -7px;
	left: 0;
}
.banner .content-for-image:before{
	content:"";
	background: rgb(165,30,40);
	display: block;
	width: 25%;
	height: 7px;
	position: absolute;
	bottom: -7px;
	left: 0;
}
.banner .content-for-image h1{
	font-size: 64px;
	font-weight: 200;
}
.banner .content-for-image p{
	font-weight: 200;
}



/* ----------------------
		Section navigation

		@Note:
*/
.section-menu{
	background: rgb(225,70,75);
	position: fixed;
	z-index: 990;
	right: 20px;
	top: 100px;
	transition: right .5s ease;
}
.section-menu-link a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: rgb(255,255,255);
	padding: 10px 20px;
}


/* ----------------------
		Text default module

		@Note:
*/
.text h1{
	text-align: center;
	font-weight: 300;
	color: rgb(100,100,100);
	display: table;
	padding: 10px 10px;
	margin: 0 auto 30px;
	border-bottom: 1px solid rgb(225,70,75);
}

.text blockquote{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	width: 60%;
	margin: 0 auto 10px;
}
.text blockquote p{
	font-size: inherit;
}


/* ----------------------
		Centered content module

		@Note:
*/
.centered-content{
	text-align: center;
}
.centered-content h2{
	margin-bottom: 20px;
}
.centered-content.column-4{
	padding: 0 20px;
}
