.padded-column{
  padding: 0 3%;
}

/* ----------------------
    Default module

    @Note:
*/
.block-content-copy h1{
  text-align: center;
  font-weight: 300;
  color: rgb(100,100,100);
  display: table;
  padding: 10px 10px;
  margin: 0 auto 30px;
  border-bottom: 1px solid rgb(225,70,75);
}
.block-content-copy h2{
  text-align: center;
  font-weight: 300;
  color: rgb(100,100,100);
  padding: 10px 10px;
}

.block-content-copy blockquote{
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  width: 60%;
  margin: 0 auto 10px;
}
.block-content-copy blockquote p{
  font-size: inherit;
}
.block-content-image{
  text-align: center;
}
.block-content-image img{
  display: inline-block;
}
/* ----------------------
    Module: Teaser
*/
.teaser-card{
  float: left;
  background-color: rgb(255,255,255);
  margin-bottom: 25px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.teaser-card .block-content-copy{
  float: right;
  display: block;
  width: 40%;
  padding: 25px 2% 25px 4%;
  vertical-align: top;
}
.teaser-card .block-content-image{
  float: left;
  display: block;
  overflow: hidden;
  width: 60%;
  height: auto;
  vertical-align: top;
}
.teaser-card:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.teaser-card .block-content-image img{
  display: none;
  height: 100%;
}
.teaser-card h2{
  font-weight: 600;
  text-align: left;
  color: rgb(90,170,150);
  padding: 0;

}
