/* ----------------------
		Main Navigation 
*/
.main-navigation{
	width: 100%;
	background: rgba(255,255,255,1);
	position: fixed;
	z-index: 999;
	top: 0;
	transition: background .75s ease .0s;
}
.main-navigation.is-scrolled{
	background: rgba(255,255,255,0.9);
}
.main-navigation.shadow-inside-bend:after{
	opacity: 0;
	transition: opacity .75s ease .0s;
}
.main-navigation.shadow-inside-bend.is-scrolled:after{
	opacity: 1;
}
/* ----------------------
		Logo

		@Note: Svg Support from IE9
					 Svg Filter IE10
*/
.logo{
	position: absolute;
	float: left;
	margin-left: 2em;
	width: 140px;
	height: 110px;
	overflow: visible;
}
.logo svg{
	position: relative;
	z-index: 2;
}
.logo-shadow{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: -10px;
	display: block;
	width: 160px;
	height: 120px;
	background-image:url("../layout/logo-shadow.png");
	background-size: 160px 120px;	
}
/* ----------------------
		Main Navigation List
*/
.main-navigation-list, .main-navigation-list > ul{
	position: relative;
	float: right;
}
.main-navigation-list:after{
	z-index: 1;
	height: .4em;
	width: 100%;
	background: rgb(225,225,225);
	content: "";
	position: absolute;
	left: 0;
}
.main-navigation-list li{
	float: left;
	position: relative;
}
.main-navigation-list li > ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: auto;
	z-index: 2;
}
.main-navigation-list li > ul:before{
	content: "";
	display: block;
	position: absolute;
	top: -2em;
	left: 50%;
	margin-left: -1em;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-color: transparent transparent rgb(225,70,75) transparent;
}
.main-navigation-list li > ul > li{
	background: rgb(225,70,75);
	float: left;
	width: 100%;
}
.main-navigation-list li > ul > li a{
	color: rgb(165,30,40);
}
.main-navigation-list li > ul > .is-active > a{
	color: rgb(255,255,255);
}
.main-navigation-list li > ul ul{
	width: auto;	
}
.main-navigation-list > ul > li:hover > ul{
	display: block;
}
.main-navigation-list a{
	display: block;
	text-decoration: none;
	padding: 1.2em 1em;
	font-size: 1.8em;
	line-height: 100%;
	text-transform: UPPERCASE;
	color: rgb(100,100,100);
}
.main-navigation-list .is-active > a{
	color: rgb(225,70,75);
}
.main-navigation-list .has-red-line:before{
	z-index: 2;
	height: .4em;
	width: 100%;
	background: rgba(225,70,75,0.6);
	content: "";
	position: absolute;
	left: 0;
}
.main-navigation-list .has-red-line.is-active:before{
	background: rgba(225,70,75,1);
}